
<h1 mat-dialog-title>ALTA DE INSCRIPCIONES</h1>
<div mat-dialog-content>
    <form>
        <mat-form-field> 
            <mat-label>ALUMNO</mat-label>
            <mat-select></mat-select>
        </mat-form-field>
        

        <mat-form-field>
            <mat-label> CURSO</mat-label>
            <mat-select></mat-select>
        </mat-form-field>
    </form>
</div>
<div mat-dialog-actions>
    <button mat-button mat-dialog-close>cancelar </button>
    <button mat-button>guardar </button>
</div>